USE [master]
GO
/****** Object:  Database [GestionCanchas]    Script Date: 8/7/2026 01:52:32 ******/
CREATE DATABASE [GestionCanchas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionCanchas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionCanchas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionCanchas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionCanchas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionCanchas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionCanchas]
GO
/****** Object:  UserDefinedTableType [dbo].[Id_List]    Script Date: 8/7/2026 01:52:32 ******/
CREATE TYPE [dbo].[Id_List] AS TABLE(
	[id] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  Table [dbo].[AuditoriaUsuarios]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaUsuarios](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[EmailAnterior] [varchar](100) NOT NULL,
	[EmailActual] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ModificadoPor] [varchar](50) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[mensaje] [varchar](255) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[Id_DVV] [int] NOT NULL,
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[IdEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Permiso__3214EC0742C435A4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Permiso]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Permiso](
	[Id_Permiso_Padre] [int] NOT NULL,
	[Id_Permiso_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_Padre] ASC,
	[Id_Permiso_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[IdEtiqueta] [int] NOT NULL,
	[Texto] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[Telefono] [varchar](30) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[DVH] [nvarchar](32) NULL,
 CONSTRAINT [PK__Usuario__4E3E04ADB98CBDFB] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[Id_Usuario] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditoriaUsuarios] ON 

INSERT [dbo].[AuditoriaUsuarios] ([IdAuditoria], [UsuarioId], [EmailAnterior], [EmailActual], [Fecha], [ModificadoPor], [Accion]) VALUES (3, 2, N'seba@gmail.com', N'sebastian@gmail.com', CAST(N'2026-07-01T00:08:10.907' AS DateTime), N'admin', N'Modificación Email')
INSERT [dbo].[AuditoriaUsuarios] ([IdAuditoria], [UsuarioId], [EmailAnterior], [EmailActual], [Fecha], [ModificadoPor], [Accion]) VALUES (4, 2, N'seba@gmail.com', N'seba.martin@gmail.com', CAST(N'2026-07-01T00:13:45.187' AS DateTime), N'admin', N'Modificación Email')
INSERT [dbo].[AuditoriaUsuarios] ([IdAuditoria], [UsuarioId], [EmailAnterior], [EmailActual], [Fecha], [ModificadoPor], [Accion]) VALUES (5, 2, N'seba.martin@gmail.com', N'seba.martin90@gmail.com', CAST(N'2026-07-01T00:14:09.413' AS DateTime), N'admin', N'Modificación Email')
SET IDENTITY_INSERT [dbo].[AuditoriaUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [mensaje], [fecha], [estado]) VALUES (1, 1, N'Ingreso de usuario', CAST(N'2026-05-08T00:58:14.000' AS DateTime), NULL)
INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [mensaje], [fecha], [estado]) VALUES (2, 1, N'Ingreso de usuario', CAST(N'2026-05-08T00:58:30.000' AS DateTime), NULL)
INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [mensaje], [fecha], [estado]) VALUES (3, 1, N'Ingreso de usuario', CAST(N'2026-05-08T00:59:01.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical] ([Id_DVV], [NombreTabla], [DVV]) VALUES (1, N'Usuario', N'2fb5cca871bc8f2943fe9e1a61bc2c24')
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Clave]) VALUES (10, N'auditoriaToolStripMenuItem')
INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Clave]) VALUES (9, N'bitacoraToolStripMenuItem')
INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Clave]) VALUES (14, N'btnFiltrar')
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre]) VALUES (2, N'English')
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre]) VALUES (1, N'Español')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [Tipo]) VALUES (1, N'Gestionar Permisos Y Familias', N'GestionarPermisosYFamilias')
INSERT [dbo].[Permiso] ([Id], [Nombre], [Tipo]) VALUES (2, N'Gestionar Usuarios Y Roles', N'GestionarUsuariosYRoles')
INSERT [dbo].[Permiso] ([Id], [Nombre], [Tipo]) VALUES (3, N'Modificar Usuarios', N'ModificarUsuarios')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (14, 1)
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (14, 2)
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (14, 3)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto]) VALUES (1, 1, 1, N'Gestion Canchas')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto]) VALUES (2, 1, 2, N'Usuario')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto]) VALUES (3, 1, 3, N'Contraseña')
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [username], [password], [Telefono], [Email], [IdIdioma], [DVH]) VALUES (1, N'admin', N'$2a$11$jNmcK1VAr4HMMFxST8ImvOaMtnLG8Rq78YzOSFI2.I/Rc41YEtT9S', N'1134567890', N'admin@gmail.com', 1, N'2fca123d86e86d3754e26d31e6c4f042')
INSERT [dbo].[Usuario] ([id_usuario], [username], [password], [Telefono], [Email], [IdIdioma], [DVH]) VALUES (2, N'sebastian', N'$2a$11$jNmcK1VAr4HMMFxST8ImvOaMtnLG8Rq78YzOSFI2.I/Rc41YEtT9S', N'110123888', N'seba@gmail.com', 1, N'803b39e80f59ec63365ed6cc1d884b1f')
INSERT [dbo].[Usuario] ([id_usuario], [username], [password], [Telefono], [Email], [IdIdioma], [DVH]) VALUES (3, N'fer', N'$2a$11$jNmcK1VAr4HMMFxST8ImvOaMtnLG8Rq78YzOSFI2.I/Rc41YEtT9S', N'1122224444', N'ferTest2@gmail.com', 1, N'ea6ac5c86f4b94aeae0742bd6b45f7aa')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Permiso] ([Id_Usuario], [Id_Permiso]) VALUES (1, 14)
INSERT [dbo].[Usuario_Permiso] ([Id_Usuario], [Id_Permiso]) VALUES (2, 3)
INSERT [dbo].[Usuario_Permiso] ([Id_Usuario], [Id_Permiso]) VALUES (3, 7)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Etiqueta__E8181E11B753F686]    Script Date: 8/7/2026 01:52:32 ******/
ALTER TABLE [dbo].[Etiqueta] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Idioma__75E3EFCFD436C877]    Script Date: 8/7/2026 01:52:32 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__F3DBC57218890BB6]    Script Date: 8/7/2026 01:52:32 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ__Usuario__F3DBC57218890BB6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuarios_Idioma]  DEFAULT ((1)) FOR [IdIdioma]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Hijo] FOREIGN KEY([Id_Permiso_Hijo])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_PP_Hijo]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Padre] FOREIGN KEY([Id_Permiso_Padre])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_PP_Padre]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdEtiqueta])
REFERENCES [dbo].[Etiqueta] ([IdEtiqueta])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_UP_Permiso] FOREIGN KEY([Id_Permiso])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_UP_Permiso]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_UP_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_UP_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
(
    @Id INT,
    @Username VARCHAR(100),
    @PasswordHash VARCHAR(200),
	@Email VARCHAR(100),
	@Telefono VARCHAR(30)
)
AS
BEGIN

    UPDATE Usuario
    SET
        username = @Username,
        password = @PasswordHash,
		Email=@Email,
		Telefono=@Telefono
    WHERE id_usuario = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_Insertar]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Auditoria_Insertar]

@UsuarioId INT,
@EmailAnterior VARCHAR(100),
@EmailActual VARCHAR(100),
@Fecha DATETIME,
@ModificadoPor VARCHAR(50),
@Accion VARCHAR(50)

AS
BEGIN

INSERT INTO AuditoriaUsuarios
(
    UsuarioId,
    EmailAnterior,
    EmailActual,
    Fecha,
    ModificadoPor,
    Accion
)

VALUES
(
    @UsuarioId,
    @EmailAnterior,
    @EmailActual,
    @Fecha,
    @ModificadoPor,
    @Accion
)

END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_ObtenerHistorial]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Auditoria_ObtenerHistorial]
    @UsuarioId INT
AS
BEGIN
    SELECT * FROM AuditoriaUsuarios
    WHERE UsuarioId = @UsuarioId
    ORDER BY Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_ObtenerPorId]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Auditoria_ObtenerPorId]
    @IdAuditoria INT
AS
BEGIN
    SELECT * FROM AuditoriaUsuarios WHERE IdAuditoria = @IdAuditoria
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUsuario]
(
    @nombre VARCHAR(50)
)
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
		email,
		telefono,
		IdIdioma
    FROM Usuario
    WHERE username = @nombre

END
GO
/****** Object:  StoredProcedure [dbo].[DVV_ActualizarPorTabla]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVV_ActualizarPorTabla]
(
    @NombreTabla NVARCHAR(50),
    @DVV NVARCHAR(32)
)
AS
BEGIN

    UPDATE DigitoVerificadorVertical
    SET DVV = @DVV
    WHERE NombreTabla = @NombreTabla;
END
GO
/****** Object:  StoredProcedure [dbo].[DVV_ObtenerPorTabla]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVV_ObtenerPorTabla]
(
    @NombreTabla NVARCHAR(50)
)
AS
BEGIN

    SELECT DVV
    FROM DigitoVerificadorVertical
    WHERE NombreTabla = @NombreTabla;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermisosUsuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarPermisosUsuario]
    @id_usuario INT
AS
BEGIN
    DELETE FROM Usuario_Permiso WHERE id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllComponentes]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetAllComponentes]
    @familiaId INT = NULL
AS
BEGIN
    WITH recursivo AS (
        SELECT sp2.id_permiso_padre, sp2.id_permiso_hijo
        FROM permiso_permiso sp2
        WHERE (@familiaId IS NULL AND sp2.id_permiso_padre IS NULL)
           OR (@familiaId IS NOT NULL AND sp2.id_permiso_padre = @familiaId)
        
        UNION ALL

        SELECT sp.id_permiso_padre, sp.id_permiso_hijo
        FROM permiso_permiso sp
        INNER JOIN recursivo r ON r.id_permiso_hijo = sp.id_permiso_padre
    )
    SELECT r.id_permiso_padre, r.id_permiso_hijo, p.id, p.nombre, p.Tipo
    FROM recursivo r
    INNER JOIN permiso p ON r.id_permiso_hijo = p.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllFamilias]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllFamilias]
AS
BEGIN
    SELECT Id, Nombre
    FROM Permiso
    WHERE Tipo IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatentes]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPatentes]
AS
BEGIN
    SELECT Id, Nombre, Tipo
    FROM Permiso
    WHERE Tipo IS NOT NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GuardarComponente]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GuardarComponente]
    @nombre NVARCHAR(100),
    @permiso NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Permiso(Nombre, Tipo)
    VALUES (@nombre, @permiso);

    SELECT SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[GuardarFamilia]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarFamilia]
    @id_familia INT,
    @hijos_ids Id_List READONLY
AS
BEGIN
    DELETE FROM Permiso_Permiso WHERE id_permiso_padre = @id_familia;

    INSERT INTO Permiso_Permiso (Id_Permiso_Padre, Id_Permiso_Hijo)
    SELECT @id_familia, h.id
    FROM @hijos_ids h
    WHERE NOT EXISTS (
        SELECT 1
        FROM Permiso_Permiso pp
        WHERE pp.Id_Permiso_Padre = @id_familia
          AND pp.Id_Permiso_Hijo = h.id
    );
END;


GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuario]
(
    @username VARCHAR(50),
    @password VARCHAR(255)
)
AS
BEGIN

    INSERT INTO Usuario
    (
        username,
        password
    )
    VALUES
    (
        @username,
        @password
    )

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuarioPermiso]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuarioPermiso]
    @id_usuario INT,
    @id_permiso INT
AS
BEGIN
    INSERT INTO Usuario_Permiso(id_usuario, id_permiso)
    VALUES (@id_usuario, @id_permiso)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarBitacora]
(
    @idUsuario INT,
    @mensaje VARCHAR(255),
    @fecha DATETIME,
	@estado VARCHAR(50)
)
AS
BEGIN

    INSERT INTO Bitacora
    (
        id_usuario,
        mensaje,
        fecha,
		estado
    )
    VALUES
    (
        @idUsuario,
        @mensaje,
        @fecha,
		@estado
    )

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacora]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacora]
(
    @fechaDesde DATETIME = NULL,
    @fechaHasta DATETIME = NULL
)
AS
BEGIN

    SELECT
        B.id_bitacora,
        U.username,
        B.mensaje,
        B.fecha,
		B.estado
    FROM Bitacora B
    INNER JOIN Usuario U
        ON B.id_usuario = U.id_usuario
    WHERE
        (@fechaDesde IS NULL
            OR B.fecha >= @fechaDesde)
    AND
        (@fechaHasta IS NULL
            OR B.fecha <= @fechaHasta)
    ORDER BY B.fecha DESC

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomas]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ObtenerIdiomas]
AS
BEGIN

SELECT *

FROM Idioma

ORDER BY Nombre

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosUsuario]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerPermisosUsuario]
    @usuarioId INT
AS
BEGIN
    SELECT p.id, p.nombre, p.Tipo
    FROM Usuario_Permiso up
    INNER JOIN permiso p ON up.id_permiso = p.id
    WHERE up.id_usuario = @usuarioId;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTraducciones]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTraducciones]
@IdIdioma INT
AS
BEGIN

SELECT

E.Clave,

T.Texto

FROM Traduccion T

INNER JOIN Etiqueta E
ON T.IdEtiqueta = E.IdEtiqueta

WHERE T.IdIdioma = @IdIdioma

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
	SELECT *
	FROM Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[RestaurarEmail]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RestaurarEmail]

@IdUsuario INT,
@Email VARCHAR(100)

AS
BEGIN

UPDATE Usuario

SET Email=@Email

WHERE id_usuario=@IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ActualizarDVH]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ActualizarDVH]
(
    @IdUsuario INT,
    @DVH NVARCHAR(32)
)
AS
BEGIN

    UPDATE Usuario
    SET DVH = @DVH
    WHERE id_usuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ActualizarIdioma]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[Usuario_ActualizarIdioma]
(
    @IdUsuario INT,
    @IdIdioma INT
)
AS
BEGIN

    UPDATE Usuario
       SET IdIdioma=@IdIdioma
     WHERE id_usuario=@IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerDatosConDVH]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ObtenerDatosConDVH]
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
        Telefono,
        Email,
        IdIdioma,
        DVH
    FROM Usuario
    ORDER BY id_usuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerDatosParaDVH]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ObtenerDatosParaDVH]
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
        Telefono,
        Email,
        IdIdioma
    FROM Usuario
    ORDER BY id_usuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerDVH]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ObtenerDVH]
AS
BEGIN

    SELECT DVH
    FROM Usuario
    ORDER BY id_usuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorId]    Script Date: 8/7/2026 01:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorId]
(
    @Id INT
)
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
		email,
		telefono
    FROM Usuario
    WHERE id_usuario = @Id;

END
GO
USE [master]
GO
