USE [master]
GO
/****** Object:  Database [GestionCanchas]    Script Date: 3/7/2026 20:39:21 ******/
CREATE DATABASE [GestionCanchas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionCanchas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionCanchas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionCanchas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionCanchas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionCanchas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionCanchas]
GO
/****** Object:  Table [dbo].[AuditoriaUsuarios]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaUsuarios](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[EmailAnterior] [varchar](100) NOT NULL,
	[EmailActual] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ModificadoPor] [varchar](50) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[mensaje] [varchar](255) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[IdEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Permiso__3214EC0742C435A4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Permiso]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Permiso](
	[Id_Permiso_Padre] [int] NOT NULL,
	[Id_Permiso_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_Padre] ASC,
	[Id_Permiso_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[IdEtiqueta] [int] NOT NULL,
	[Texto] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[Email] [varchar](150) NULL,
	[IdIdioma] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[Id_Usuario] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuarios_Idioma]  DEFAULT ((1)) FOR [IdIdioma]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Hijo] FOREIGN KEY([Id_Permiso_Hijo])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_PP_Hijo]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Padre] FOREIGN KEY([Id_Permiso_Padre])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_PP_Padre]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdEtiqueta])
REFERENCES [dbo].[Etiqueta] ([IdEtiqueta])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_UP_Permiso] FOREIGN KEY([Id_Permiso])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_UP_Permiso]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_UP_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_UP_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
(
    @Id INT,
    @Username VARCHAR(100),
    @PasswordHash VARCHAR(200),
	@Email VARCHAR(100),
	@Telefono VARCHAR(30)
)
AS
BEGIN

    UPDATE Usuario
    SET
        username = @Username,
        password = @PasswordHash,
		Email=@Email,
		Telefono=@Telefono
    WHERE id_usuario = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_Insertar]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Auditoria_Insertar]

@UsuarioId INT,
@EmailAnterior VARCHAR(100),
@EmailActual VARCHAR(100),
@Fecha DATETIME,
@ModificadoPor VARCHAR(50),
@Accion VARCHAR(50)

AS
BEGIN

INSERT INTO AuditoriaUsuarios
(
    UsuarioId,
    EmailAnterior,
    EmailActual,
    Fecha,
    ModificadoPor,
    Accion
)

VALUES
(
    @UsuarioId,
    @EmailAnterior,
    @EmailActual,
    @Fecha,
    @ModificadoPor,
    @Accion
)

END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_ObtenerHistorial]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Auditoria_ObtenerHistorial]
    @UsuarioId INT
AS
BEGIN
    SELECT * FROM AuditoriaUsuarios
    WHERE UsuarioId = @UsuarioId
    ORDER BY Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Auditoria_ObtenerPorId]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Auditoria_ObtenerPorId]
    @IdAuditoria INT
AS
BEGIN
    SELECT * FROM AuditoriaUsuarios WHERE IdAuditoria = @IdAuditoria
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuario]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUsuario]
(
    @nombre VARCHAR(50)
)
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
		email,
		telefono,
		IdIdioma
    FROM Usuario
    WHERE username = @nombre

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllComponentes]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetAllComponentes]
    @familiaId INT = NULL
AS
BEGIN
    WITH recursivo AS (
        SELECT sp2.id_permiso_padre, sp2.id_permiso_hijo
        FROM permiso_permiso sp2
        WHERE (@familiaId IS NULL AND sp2.id_permiso_padre IS NULL)
           OR (@familiaId IS NOT NULL AND sp2.id_permiso_padre = @familiaId)
        
        UNION ALL

        SELECT sp.id_permiso_padre, sp.id_permiso_hijo
        FROM permiso_permiso sp
        INNER JOIN recursivo r ON r.id_permiso_hijo = sp.id_permiso_padre
    )
    SELECT r.id_permiso_padre, r.id_permiso_hijo, p.id, p.nombre, p.Tipo
    FROM recursivo r
    INNER JOIN permiso p ON r.id_permiso_hijo = p.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllFamilias]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllFamilias]
AS
BEGIN
    SELECT Id, Nombre
    FROM Permiso
    WHERE Tipo IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatentes]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPatentes]
AS
BEGIN
    SELECT Id, Nombre, Tipo
    FROM Permiso
    WHERE Tipo IS NOT NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuario]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuario]
(
    @username VARCHAR(50),
    @password VARCHAR(255)
)
AS
BEGIN

    INSERT INTO Usuario
    (
        username,
        password
    )
    VALUES
    (
        @username,
        @password
    )

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarBitacora]
(
    @idUsuario INT,
    @mensaje VARCHAR(255),
    @fecha DATETIME,
	@estado VARCHAR(50)
)
AS
BEGIN

    INSERT INTO Bitacora
    (
        id_usuario,
        mensaje,
        fecha,
		estado
    )
    VALUES
    (
        @idUsuario,
        @mensaje,
        @fecha,
		@estado
    )

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacora]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacora]
(
    @fechaDesde DATETIME = NULL,
    @fechaHasta DATETIME = NULL
)
AS
BEGIN

    SELECT
        B.id_bitacora,
        U.username,
        B.mensaje,
        B.fecha,
		B.estado
    FROM Bitacora B
    INNER JOIN Usuario U
        ON B.id_usuario = U.id_usuario
    WHERE
        (@fechaDesde IS NULL
            OR B.fecha >= @fechaDesde)
    AND
        (@fechaHasta IS NULL
            OR B.fecha <= @fechaHasta)
    ORDER BY B.fecha DESC

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomas]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ObtenerIdiomas]
AS
BEGIN

SELECT *

FROM Idioma

ORDER BY Nombre

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosUsuario]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerPermisosUsuario]
    @usuarioId INT
AS
BEGIN
    SELECT p.id, p.nombre, p.Tipo
    FROM Usuario_Permiso up
    INNER JOIN permiso p ON up.id_permiso = p.id
    WHERE up.id_usuario = @usuarioId;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTraducciones]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTraducciones]
@IdIdioma INT
AS
BEGIN

SELECT

E.Clave,

T.Texto

FROM Traduccion T

INNER JOIN Etiqueta E
ON T.IdEtiqueta = E.IdEtiqueta

WHERE T.IdIdioma = @IdIdioma

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
	SELECT *
	FROM Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[RestaurarEmail]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RestaurarEmail]

@IdUsuario INT,
@Email VARCHAR(100)

AS
BEGIN

UPDATE Usuario

SET Email=@Email

WHERE id_usuario=@IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ActualizarIdioma]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[Usuario_ActualizarIdioma]
(
    @IdUsuario INT,
    @IdIdioma INT
)
AS
BEGIN

    UPDATE Usuario
       SET IdIdioma=@IdIdioma
     WHERE id_usuario=@IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorId]    Script Date: 3/7/2026 20:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorId]
(
    @Id INT
)
AS
BEGIN

    SELECT
        id_usuario,
        username,
        password,
		email,
		telefono
    FROM Usuario
    WHERE id_usuario = @Id;

END
GO
USE [master]
GO
